# Node
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Next.js
.next/
out/

# Turborepo
.turbo

# Build outputs
dist
build
coverage

# Git & GitHub
.git
.github

# Docker
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

# Environment files
.env
.env.*
!.env.example

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db 