# Build output
.next/
**/.next/**
out/
build/
dist/

# Node modules
node_modules/
**/node_modules/**

# Configuration files
next.config.js
next.config.mjs
postcss.config.js
tailwind.config.js
postcss.config.cjs
tailwind.config.cjs

# Type declaration files
*.d.ts

# Public assets
public/ 